header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(18, 41, 71, 1);

    ul {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }

    a{
        text-decoration: none;
        color: rgba(18, 41, 71, 1);
    }

    li {
        list-style-type: none;
    }
}