// Сброс стилей браузера
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

// Главная страница, католог и корзина
@import 'index1';
@import 'catalog';
@import 'basket';

// Медиа-запросы
@import './media_queries/media_for_index1.scss';
@import './media_queries/media_for_catalog.scss';
@import './media_queries/media_for_basket.scss';
