html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(18, 41, 71);
}
header ul {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
header a {
  text-decoration: none;
  color: rgb(18, 41, 71);
}
header li {
  list-style-type: none;
}