body {
    background-color: #F7F7F7;
}

.card-product__container {
    display: flex;
    width: 85.65vw;
    margin: 0 auto;
    padding-top: 7vh;
    color: #122947;
}

.card-product__img-container {
    display: flex;
    flex: 1.25;
}

.card-product__image{
    width: 100%;
    max-width: 600px;
    max-height: 630px;
}

.card-product__description-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.card-product__name-container{
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.card-product__name {
    font-family: 'raleway-medium';
    font-size: 2rem;
}

.card-product__subtitile {
    font-family: 'mplus1-regular';
    font-size: 16px;
    color: #9A9DA0;
}

.card-product__text {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 4vh;
    font-family: 'mplus1-regular';
    font-size: 16px;
    color: #122947;
    font-weight: 500;
    max-width:30vw ;
    padding-bottom: 4vh;
    border-bottom: 2px solid #B3BAC1;
    p{
        max-width: 24vw;
    }
}

.card-product__bottom {
    font-family: 'mplus1-medium';
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.card-product__volume {
    font-size: 1rem;
    line-height: 27.1px
}

.card-product__footer {
    display: flex;
    gap: 4vw;
}

.card-product__price {
    font-family: 'mplus1-medium';
    font-size: 26px;
}

.card-product__price::after{
    content: ' \20BD';
}

.card-product__btn {
    width: 214px;
    height: 41px;
    background-color: transparent;
    color:#122947;
    font-family: 'mplus1-medium';
    font-size: 18px;
    transition: .5s;

}

.card-product__btn:hover {
    background-color: #122947;
    color: #fff;
    transition: .5s;
}

.card-product__btn:active {
    background-color: #fff;
    color: #122947;
    transition: .3s;
}

.active {
    background-color: #122947;
    color: #FFF;
}



