@import url('../_variables.scss');

@font-face {
    font-family: 'mplus1-medium';
    src: url('/public/fonts/MPLUS1p-Medium.ttf')
}

@font-face {
    font-family: 'mplus1-regular';
    src: url('/public/fonts/MPLUS1p-Regular.ttf')
}

@font-face {
    font-family: 'raleway-medium';
    src: url('/public/fonts/Raleway-Medium.ttf')
}

html{
    font-size: 18px;
}

header {
    background-image: url('/public/images/header_bg.jpg');
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 4vh;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(214, 214, 214, 0);
    padding-top: 4.5vh;

}

.header__burger-btn span {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #111;
    left: 8px;
    transition: transform .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-8px);
}


.header__burger-btn span:nth-child(3) {
    transform: translateY(8px);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0)  rotate(-45deg);

}

.nav__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding:7vh 7.17vw 0 7.17vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1000; 
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.001); /* Добавляем тень для отделения от содержимого страницы */
}
.content {
    height: 2000px;
}
    // position: fixed;

    ul {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding: 0;
        margin: 0;
    }
    
    li {
        list-style-type: none;
    
    }
    
    a {
        text-decoration: none;
        color: #122947;
    }

    .profile-icons__wrapper{
        display: flex;
        flex-direction: row;
        gap: 3vw;
    }

    .box {
        display: flex;
        gap: 3vw;

    }

    li:hover {
        transform: scale(1.2);
        transition: .5s;
    }

    @media (max-width: 960px) {
        .header__burger-btn {
            display: block;
            z-index: 2;
            transform: translateY(-20px);
        }
    
        // .header__title-box_for-media {
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     background-color: rgba(214, 214, 214, 0.19);
        //     display: flex;
    
        // }
    
        .header__nav {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #f4f3ef;
            padding: 100px 20px 8.17vw 7.17vw;
            width: 300px;
            left: -300px;
            transition: transform .5s;
        }

        .header.open .header__nav {
            transform: translateX(100%);
        } 
    
    
        .nav__title {
            text-align: center;
        }
        .header__list {
            display: block;
        }
    
        .header__link {
            font-size: 28px;
            display: block;
            padding: 20px 0;
        }
    
        li:hover {
            transform: none;
        }

    }


.natural__cosmetic__description{
display: flex;
flex-direction: column;
gap: 1.6rem;
align-items: center;
width: 20.06vw;
margin: 0 3.51vw 0 3.51vw;
}

.natural_cosmetic {
    display: flex;
    flex-direction: row;
    width: 75.4vw;
    margin: 0 auto;
    margin-top: 8.12vw;


    .natural_cosmetic__title {
        font-family: 'raleway-medium';
        color: #122947;
        font-size: 3.2rem;
        padding-top: 4.47vw;
        z-index: 900;
    }
    
    .natural_cosmetic__text {
        font-family: 'mplus1-regular';
        width: 20.06vw;
        text-align: center;
        z-index: 800;
    }
    
}
.transparent-button {
    font-size: .9rem;
    text-align: center;
    padding-top: 5px;
    font-family: 'mplus1-medium' ;
    background-color: transparent;
    color: #122947;
    border: 2px solid #B3BAC1;
    width: 141px;
    height: 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.transparent-button:hover {
    background-color: white;
    color: black;
}

.bestsellers {
    margin: 17vh 0 17vh 7.17vw;
    color: #122947;
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 2.20vw;
}

.bestsellers__description {
    display: flex;
    flex-direction: column;
    color: #122947;
    width: 15.67vw;
    margin-right: 3.6vw;
    padding-top: 6vh;
}

.bestsellers__title {
    font-family: 'raleway-medium';
    font-size: 1.77rem;
}

.bestsellers__text {
    font-family: 'mplus1-regular';
    margin-bottom: 4vh;
    margin-top: 2.2vh;
}

.bestsellers__card {
    width: 230px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.bestsellers__card_1 {
    background-image: url('/public/images/crem_1.png');
}

.bestsellers__card_2 {
    background-image: url('/public/images/crem_2.png');
}

.bestsellers__card_3 {
    background-image: url('/public/images/crem_3.png');
}

.bestsellers__card_4 {
    background-image: url('/public/images/crem_4.png');
}

.cartd__title {
    font-family: 'raleway-medium';
    font-size: 16px;
}

.card__subtitle {
    font-family: 'mplus1-regular';
    font-size: 13px;
    color: #9A9DA0;
    margin: 5px 0 10px 0;
}

.more {
    font-family:'mplus1-regular';
    width: 70px;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid #111;
    margin: 0 auto;
    margin-bottom: 25px;
}


.arrows-container {
    display: flex;
    justify-content: flex-end;
    gap: 2.34vw;
    margin: 2.5vh 10.17vw 0 0;
}

.arrow {
    cursor: pointer;
}


.spring {
    display: flex;
    justify-content:right;
    background-image: url('/public/images/spring__bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    align-items: center;
}

.spring__container {
    
    margin: 0 20.7vw 0 0;
}

.spring__title {
    font-family: 'raleway-medium';
    font-size: 1.7rem;
    width: 20.28vw;
}

.spring__text {
    font-family: 'mplus1-regular';
    width: 20.79vw;
    margin: 2.5vh 0 4.3vh 0;
}


.personalized-care {
    width: 85.65vw;
    margin: 0 auto;
    margin-top: 18vh;
    margin-bottom: 18vh;
    position: relative;
}

.text-block {
    background-color: #F4F1ED;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    padding: 13vh 0 13vh 7.32vw;
    width: 49.05vw;
    z-index: 3; 
}

.text-block__title {
    font-family: 'raleway-medium';
    font-size: 1.7rem;
}

.text-block__text {
    font-family: 'mplus1-regular';
    width: 24.08vw;
    line-height: 26.1px;
    margin-bottom: 4vh;
}

.text-block__text_first {
    margin-bottom: 2vh;
}

.anketa_btn {
    width: 200px;
}

.image-block {
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translateX(-10%); 
    z-index: 4;
}

.contacts {
    width: 85.65vw;
    margin: 0 auto;
    position: relative;
}

.contacts__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F4F1ED;
    width: 49.05vw;
    padding: 100px 0 100px 100px;
    z-index: 1;
}

.contacts__title {
    font-family: 'raleway-medium';
    font-size: 1.7rem;
}

.address__title, .telephone__title, .email__title{
    font-family: 'mplus1-medium';
    
}

.address__text, .telephone__number, .email__address {
    font-family: 'mplus1-regular';
}

.address__text {
    width: 256px;
}

.address__container, .phone__container, .email__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.social-media__container {
    display: flex;
    gap: 30px;
}

.map__container {
    width: 49.05vw;
    height: 422px;
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translateX(-10%); 
    z-index: 2;
}

.our-history {
    background-image: url('/public/images/history.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 433px;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.history__text{

    font-family: 'raleway-medium';
    font-size: 1.7rem;
    width: 55.7vw;
}

footer{
    background-color: #F4F1ED;
    // height: 200px;
}

.footer__container {
    display: flex;
    flex-direction: row;
    width: 85.65vw;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 18vh;
    padding: 4.39vw 0 4.39vw 0;
}

.footer__line{
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
}

.footer-nav__container {
    display: flex;
    flex-direction: row;
    gap: 5.05vw;   
}

.social-media {
    display: flex;
    gap: 30px;
}

.footer_list{
    display: flex;
    gap: 2.93vw;
}

.inform-container {
    width: 85.65vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    color: #959595;
    font-family: 'mplus-regular';
    font-size: 12px;
}


.politic_conf {
    color: #959595;
    font-family: 'mplus-regular';
    font-size: 12px;
}

.social-media__icon {
    cursor: pointer;
    transition: .5s;

}

.social-media__icon:hover {
    transform: scale(1.2);
    transition: .5s;
}

.modal-title-2 {
    text-align: center;
    font-family: 'raleway-medium';
    padding: 2vh 5vw;
}

.btn-close-2 {
    transform: translateY(-35px);
}

// 
.modal_bodyy{
    font-family: Arial, sans-serif;
    color: #666;
    
}



form {
    background-color: #f1ebe5;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



.skin-problems {
    display: block;
}

.input__label {
    margin-top: 4vh;
}

.btn-p {
    background-color:#e8ded5;
}

.btn-p:hover {
    background-color: #dacec4;
}

.error .input-field {
    border-color:  red;
  }

  .error-label {
    color: red;
    display: block;
    margin-bottom: 15px;
    align-self:last baseline;
  }

  .btn-s {
    margin: 4vh 0;
    background-color:#EFCDB8;
  }

  #registrationForm {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .input-box {
    display: flex;
    flex-direction: column;
  }

  .input-box label {
    font-size: .8rem;
  }

  .r-form_title {
    font-family: 'raleway-medium';
    width: 10px;
    margin: 0 auto;
  }


















